@model List<TodoItem>
@{
    ViewData["Title"] = "Todo List";
}
<h1>Todo List</h1>
<div>
    <ul>
        @foreach (var item in ViewBag.Items)
        {
            <li>@item.ID: @item.Title</li>
        }
    </ul>
    <a asp-action="Create">Create</a>
</div>